[Desktop Entry]
Name=Qtile
Comment=Qtile Session
Exec=qtile start -c /home/luedemann/Documents/mystuff/dotfiles/qtile/config.py
Type=Application
Keywords=wm;tiling
